body{
    font-family: "Poppins", sans-serif;
}

i {
    padding-left: 10px;
}


button:hover {
    border-left: 5px solid #EE494A;
    color: #222222;
}

.btn{

}

.sideBarMarker{
    border-left: 7px solid #EE494A !important;
}