body{
    font-family: "Poppins", sans-serif;
}

i {
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
}

.sideBarMarker{
    border-left: 7px solid #EE494A !important;
}

header{
    font-family: "Poppins", sans-serif;
}



